@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@700&display=swap");

body {
	height: 100%;
}

#wrapper {
	box-sizing: border-box;
}

#wrapper #main-content-wrapper {
	background-color: #f8f9fc;
	width: 100%;
	overflow-x: hidden;
}

#sidebarMenu {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	transition: all 0.2s ease-in;
}

.sidebar {
	width: 6.5rem;
	min-height: 100vh;
}

div#content-wrapper.sidebar-hidden .sidebar {
	/* position: absolute;
	top: 0;
	bottom: 0; */
	height: 100vh;
	z-index: 1;
	align-items: center;
	margin-left: -104px;
}

.sidebar .sidebar-brand {
	font-family: "Montserrat", sans-serif; /* your font family here! */
	font-weight: bold;
	height: 3.5rem;
	font-size: 1rem;
	font-weight: 800;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	z-index: 1;
}

.sidebar a {
	color: #343a40 !important;
	padding: 0;
}

.sidebar-dark hr.sidebar-divider {
	border-top: 1px #343a40;
}

.sidebar hr.sidebar-divider {
	margin: 0 1rem 1rem;
}

.sidebar .sidebar-brand span {
	display: none;
}

.sidebar .nav-item {
	position: relative;
	width: 100%;
}

.sidebar .nav-item .nav-link span {
	font-size: 0.65rem;
	display: block;
}

.sidebar .nav-item .nav-link {
	text-align: center;
	padding: 0.75rem 1rem;
}

.sidebar .nav-item .collapse {
	position: absolute;
	left: calc(6.5rem + 1.5rem / 2);
	z-index: 1;
	top: 2px;
	width: 10rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.15rem 1.75rem 0 rgb(58 59 69 / 15%);
}

.sidebar .list-group-item {
	border: none !important;
	padding: 0.25rem 1.25rem !important;
}

.sidebar .card {
	border: none !important;
}

.sidebar .collapse-item {
	font-size: 0.65rem;
	text-align: center;
	padding: 0.75rem 1rem;
}

.navbar-dark .sidebar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.1);
}

.sidebar-toggler {
	padding: 0.25rem 0.75rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.sidebar-hidden .fa-angle-double-left::before {
	content: "\f101"; /* fa-caret-left */
}

.fa-e:before {
	font-family: "Montserrat", sans-serif; /* your font family here! */
	font-weight: bold;
	content: "M";
	color: rgb(243, 243, 243);
	background-color: rgb(27, 80, 82);
	padding: 5px 10px;
	border: 2px solid rgb(243, 243, 243);
	border-radius: 3px;
}

/* #content-wrapper .bg-dark {
	background-color: rgb(27, 80, 82) !important;
} */

@media (min-width: 768px) {
	.sidebar {
		width: 14rem !important;
	}

	.sidebar .nav-item .nav-link {
		width: 100%;
		text-align: left;
		padding: 1rem;
	}

	.sidebar .sidebar-brand span {
		display: block;
	}

	div#content-wrapper.sidebar-hidden .sidebar {
		margin-left: -224px;
	}

	.sidebar .nav-item i {
		/* font-size: 0.85rem; */
		margin-right: 0.25rem;
	}

	.sidebar .nav-item .nav-link span {
		font-size: 0.85rem;
		display: inline;
	}

	.sidebar .nav-item .nav-link {
		text-align: left;
	}

	.sidebar .nav-item .collapse {
		position: static;
		left: auto;
		z-index: auto;
		top: auto;
		width: auto;
		box-shadow: unset;
	}

	.sidebar .collapse-item {
		font-size: 0.85rem;
		text-align: left;
	}

	.sidebar .nav-item .nav-link[data-toggle="collapse"].collapsed::after {
		content: "\f105";
	}

	.sidebar .nav-item .nav-link[data-toggle="collapse"]::after {
		width: 1rem;
		text-align: center;
		float: right;
		vertical-align: 0;
		border: 0;
		font-weight: 900;
		content: "\f107";
		font-family: "Font Awesome 5 Free";
	}
}

/* @media (min-width: 576px) {
	div#sidebar-content-wrapper.sidebar-hidden .sidebar {
		position: inherit;
		bottom: inherit;
		top: inherit;
		margin-left: -224px;
	}
} */
