.w-10-px {
	width: 10px !important;
}

.w-15-px {
	width: 15px !important;
}

.w-20-px {
	width: 20px !important;
}

.w-25-px {
	width: 25px !important;
}

.w-30-px {
	width: 30px !important;
}

.w-35-px {
	width: 35px !important;
}

.w-40-px {
	width: 40px !important;
}